* {
    box-sizing: border-box;
}

body {
    background: url("/images/back.jpg") no-repeat center center fixed;
    background-size: contain;
    filter: contrast(150%);
}

p, a, span .btn {
    font-family: 'Cousine', monospace;
    text-decoration: none;
    color: rgba(23, 118, 243, 0.897);
}

.header h1 {
    margin-top: 42px;
    text-align: center;
    color: rgba(243, 14, 45, 0.918);
    font-family: 'Baloo Thambi', cursive;
}

.header span{
    color: rgba(23, 118, 243, 0.897);
}

.main p {
    text-align: center;
    color: rgba(241, 252, 253, 0.705);
    font-size: 1.3rem;
    padding: 10px 50px;
    background-color: rgba(23, 118, 243, 0.897);
}

.search-area {
    text-align: center;
}

.search-area button {
    display: inline-block;
    font-family: 'Cousine', monospace;
    background-color: rgba(23, 118, 243, 0.897);
    color: #f7fdfd;
    width: auto;
    height: 42.5px;
    border: none;
    font-size: 18px;
    border-radius: 2px;
}

.search-area input {
    width: 253px;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 2px;
    border: none;
    outline-color: white;
    color: #f7fdfd;
    background-color: rgba(23, 118, 243, 0.897);
    font-size: 20px;
    font-family: 'Cousine', monospace;
    display: inline-block;
}

.btn:hover, .btn:active, .btn:focus  {
    background-color: white;
    color: rgba(23, 118, 243, 0.897);
    font-weight: bold;
    outline: none;
    border: 1px solid rgba(23, 118, 243, 0.897);
}

.btn:hover.try-again, .btn:active.try-again, .btn:focus.try-again  {
    color:rgba(23, 118, 243, 0.897);
    background-color: white;
    border: 1px solid rgba(23, 118, 243, 0.897);
}

.btn.try-again, .btn:visited.try-again {
    color: white;
    background-color: rgba(23, 118, 243, 0.897);
    border: 1px solid white;
}

.js-results-area {
    background-color: rgba(239, 234, 241, 0.493);
    border-radius: 2px;
    padding: 30px 30px;
    -webkit-text-fill-color: rgba(23, 118, 243, 0.897);
}

.col-12 section h2{
    margin: 40px auto 60px;
    background-color: rgba(193, 252, 244, 0.13);
    text-decoration: underline;
    width: 50%;
}

.js-results-area h2{
    -webkit-text-fill-color: rgba(23, 118, 243, 0.897);
}

.js-results-area div h4{
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 50%;
    display: inline-block;
}

.js-results-area div h4:hover {
    background-color: #0099cc;
}

.js-results-area a.btn {
    display: inline-block;
    font-family: 'Cousine', monospace;
    background-color: rgba(23, 118, 243, 0.897);
    color: #f7fdfd;
    width: auto;
    height: auto;
    text-align: center;
    padding: 5px 5px;
    margin-top: 25px;

}

.js-results-area a.btn.try-again {
    display: inline-block;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
}

.js-results-area {
    text-align: center;
}

.js-results-area div{
    list-style: none;
    text-align: center;
    color: rgb(193, 252, 244);
    font-size: 18px;
    font-family: 'Cousine', monospace;
}

.js-no-results-page h2 {
    text-align: center;
    color: rgba(23, 118, 243, 0.897);
    font-family: 'Raleway', sans-serif;
    margin-top: 85px;
}

.js-no-results-page a {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 200px;
    -webkit-text-fill-color: rgba(23, 118, 243, 0.897);
    padding: 3px 3px;
    font-size: 20px;
}

.hidden {
    display: none;
}

.active {
    display: block;
}

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}


.row::after {
    display: table;
    content: '';
    clear: both;
}

.movie{
    padding: 8px;
    margin-bottom: 7px;
    background-color: #fdfdfdcc;
    text-decoration-color: rgba(23, 118, 243, 0.897);
    text-align: justify;
}

movie::after {
    content: "";
    display: inline-block;
    width: 100%;
}

.col-12 {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
    width: 100%;
}

@media only screen and (min-width: 324px) {
    .search-area input {

    }
}









